.chrome-plugin-simple-tip {
    position: fixed;
    left: 20px;
    padding: 16px 10px;
    top: 30px;
    color: #000;
    border: 1px solid #000;
    min-width: 150px;
    max-width: 700px;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.8);
    transition: top .4s;
    z-index: 9999999;
}

.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft
}